<div>
  <h1 class="title">Payments </h1>

  <div class="studentPersonalTag">
    Personal bank account number: <p class="studentPersonal">643564356</p>
    <br>
    Payment per ECTS point: <p class="studentPersonal">80zł</p>
    <br>
    Account balance / Overpaid: <p class="studentPersonal">0zł</p>
  </div>

  <div class="semester">
    <p class="subtitle">Winter 2020/2021 </p>
    <table>
      <thead>
      <tr>
        <th class="infolabel">Subject Code</th>
        <th class="infolabel">Subject Name</th>
        <th class="infolabel">Lecturer</th>
        <th class="infolabel">ECTS</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="infoinfo">GWSF543</td>
        <td class="infoinfo">Mathematics 1</td>
        <td class="infoinfo">H. Jankowicz</td>
        <td class="infoinfo">6</td>
      </tr>

      <tr>
        <td class="infoinfo">SGDAE23</td>
        <td class="infoinfo">Mathematics 2</td>
        <td class="infoinfo">H. Jankowicz</td>
        <td class="infoinfo">6</td>
      </tr>
      </tbody>
    </table>

    <div class="tablesum">
      ECTS TOTAL: 12
      <br>
      DEADLINE: 06.06.2021
      <br>
      PENALTY INTEREST: 0 zł
      <br>
      PAID/TOTAL: 0 / 960 zł

    </div>
  </div>

  <div class="semester">
    <p class="subtitle">Winter 2020/2021 </p>
    <table>
      <thead>
      <tr>
        <th class="infolabel">Subject Code</th>
        <th class="infolabel">Subject Name</th>
        <th class="infolabel">Lecturer</th>
        <th class="infolabel">ECTS</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="infoinfo">SFHGSHSHR</td>
        <td class="infoinfo">Physics 1</td>
        <td class="infoinfo">R. Jakubiak</td>
        <td class="infoinfo">6</td>
      </tr>

      </tbody>
    </table>

    <div class="tablesum">
      ECTS TOTAL: 6
      <br>
      DEADLINE: 06.06.2020
      <br>
      PENALTY INTEREST: 20 zł
      <br>
      PAID/TOTAL: 500 / 500 zł

    </div>
  </div>
</div>
