.title {
  margin: 60px;
  border: dotted;
  text-align: center;
}

.studentPersonalTag{
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  background-color: #800000;
  border-radius: .5rem;
  padding: 0.5rem;
}

.studentPersonal {
  border: 1px solid black;
  font-weight: normal;
  margin: 0px;
  text-align: center;
  background-color: #ffcccc;
  border-radius: .5rem;
}
.semester{
  margin: 2rem;
  border: 1px solid black;

  font-weight: bold;
  background-color: #800000;
  border-radius: .5rem;
  text-align: center;
}


.infolabel{
  font-weight: bold;
  font-size: 70%;
}

.infoinfo{
  text-align: center;
  font-weight: normal;
  font-size: 50%;
}

.subtitle{
  text-align: center;
  text-decoration: underline;
}

td, th {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: #ffcccc;
}

.tablesum {
  font-size: 60%;

}
