<div>
  <h1 class="title">Student Grades </h1>

  <div class="semester">
    <p class="subtitle">Winter 2020/2021 </p>
      <table>
        <thead>
          <tr>
            <th class="infolabel">Subject Code</th>
            <th class="infolabel">Subject Name</th>
            <th class="infolabel">ECTS</th>
            <th class="infolabel">Lecturer</th>
            <th class="infolabel">Grade</th>
            <th class="infolabel">Mode</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td class="infoinfo">GWSF543</td>
          <td class="infoinfo">Mathematics 1</td>
          <td class="infoinfo">6</td>
          <td class="infoinfo">H. Jankowicz</td>
          <td class="infoinfo">3.5</td>
          <td class="infoinfo">Retake</td>
        </tr>

        <tr>
          <td class="infoinfo">SGDAE23</td>
          <td class="infoinfo">Mathematics 2</td>
          <td class="infoinfo">6</td>
          <td class="infoinfo">H. Jankowicz</td>
          <td class="infoinfo">-</td>
          <td class="infoinfo">Normal</td>
        </tr>
        <tr>
          <td class="infoinfo">SGDAE23</td>
          <td class="infoinfo">Mathematics 2</td>
          <td class="infoinfo">6</td>
          <td class="infoinfo">H. Jankowicz</td>
          <td class="infoinfo">-</td>
          <td class="infoinfo">Normal</td>
        </tr>
        <tr>
          <td class="infoinfo">SGDAE23</td>
          <td class="infoinfo">Mathematics 2</td>
          <td class="infoinfo">6</td>
          <td class="infoinfo">H. Jankowicz</td>
          <td class="infoinfo">-</td>
          <td class="infoinfo">Normal</td>
        </tr>
        <tr>
          <td class="infoinfo">SGDAE23</td>
          <td class="infoinfo">Mathematics 2</td>
          <td class="infoinfo">6</td>
          <td class="infoinfo">H. Jankowicz</td>
          <td class="infoinfo">-</td>
          <td class="infoinfo">Normal</td>
        </tr>
        </tbody>
      </table>
  </div>

  <div class="semester">
    <p class="subtitle">Summer 2019/2020 </p>
    <table>
      <thead>
      <tr>
        <th class="infolabel">Subject Code</th>
        <th class="infolabel">Subject Name</th>
        <th class="infolabel">ECTS</th>
        <th class="infolabel">Lecturer</th>
        <th class="infolabel">Grade</th>
        <th class="infolabel">Mode</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="infoinfo">GWSF543</td>
        <td class="infoinfo">Something</td>
        <td class="infoinfo">6</td>
        <td class="infoinfo">H. Jankowicz</td>
        <td class="infoinfo">3.5</td>
        <td class="infoinfo">Retake</td>
      </tr>

      <tr>
        <td class="infoinfo">SGDAE23</td>
        <td class="infoinfo">Something 2</td>
        <td class="infoinfo">4</td>
        <td class="infoinfo">K. Jakistam</td>
        <td class="infoinfo">-</td>
        <td class="infoinfo">Normal</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
