  <h1 class="title">Student Info </h1>



  <div class="info">
    <p class="subtitle">Personal Info</p>
      <div class="inforow">
        <p class="infotitle">Name: </p> <p class="infoinfo">Tomasz</p>
        <p class="infotitle">Surname: </p> <p class="infoinfo"> Garmulewicz</p>
      </div>

      <div class="inforow">
        <p class="infotitle">Fathers Name: </p><p class="infoinfo"> Marek</p>
        <p class="infotitle"> Date of birth: </p> <p class="infoinfo"> 20.12.1919</p>
      </div>

      <div class="inforow">
        <p class="infotitle">Birth City: </p><p class="infoinfo"> Lodz</p>
        <p class="infotitle"> Pesel:</p> <p class="infoinfo"> 452352345</p>
      </div>
  </div>

  <div class="info">
    <p class="subtitle">Address</p>
      <div class="inforow">
        <p class="infotitle"> Street: </p> <p class="infoinfo"> Uliczna</p>
        <p class="infotitle"> Number: </p> <p class="infoinfo"> 99 </p>
      </div>

      <div class="inforow">
        <p class="infotitle"> Apt. Number: </p> <p class="infoinfo"> - </p>
        <p class="infotitle"> Postal code: </p> <p class="infoinfo"> 99-999</p>
      </div>

      <div class="inforow">
        <p class="infotitle"> City: </p> <p class="infoinfo"> Lodz</p>
        <p class="infotitle"> Phone Number: </p> <p class="infoinfo"> 888987879</p>
      </div>
  </div>
  <div class="editbutton">
  <button style="width: 100px; font-weight: bold;"> Edit </button>
    <!-- button doesn't work :)
     it would just get editable info into input brackets and change into save info,
     since this is only for showing and we are not making a fully working website i won't do that
     !-->
  </div>

  <div class="info">
    <p class="subtitle">Studies</p>
    <div class="inforow">
      <p class="infotitle"> Faculty and field of study: </p>
      <p class="infoinfo"> IFE Computer Science</p>
      <p class="infotitle"> Mode and length of study: </p>
      <p class="infoinfo"> Stationary 3.5y</p>
    </div>
    <div class="inforow">
      <p class="infotitle"> Current year / semester: </p>
      <p class="infoinfo"> Year 3 Semester 5</p>
      <p class="infotitle"> Status: </p>
      <p class="infoinfo"> Full registration</p>
    </div>
  </div>

